@charset "UTF-8";


body{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    color: blue;
    background-color: chartreuse;
}
h2{
    color: red;
}
p{
    text-align: justify;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-decoration:line-through;
    text-align: center;
}